* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
}

body {
    background-color: #131313;
}

h1{
    display: inline;
}

#darkmode{
    margin-left: 10px;
    display: none;
    :hover{
        cursor: pointer;
    }
    :active{
        transform: scale(0.9);
    }
}
#lightmode{
    margin-left: 10px;
    display: inline;
    :hover{
        cursor: pointer;
    }
    :active{
        transform: scale(0.9);
    }
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #393939;
    color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}